p{
font-size: 2rem;
color: black;

}
.container-day{
    background-color: rgb(187, 162, 192);
    width: 35%;
    height: 1%;
    border-color: black;
    text-align: center;
}

@media only screen and (min-width: 300px){
    p{
        font-size: 1rem;
        color: black;
        
        }
.container-day{
    background-color: rgb(187, 162, 192);
    width: 20%;
    height: 1%;
    border-color: black;
    text-align: center;
    display: inline;
}
}
@media only screen and (min-width: 1200px){
    p{
        font-size: 2rem;
        color: black;
        
        }
    .container-day{
        background-color: rgb(187, 162, 192);
        width: 35%;
        height: 1%;
        border-color: black;
        text-align: center;
        display: inline;
    }
}